.comment {
    display: flex;
    gap: 3rem;

    &__img {
        display: block;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__desc {

    }

    &__author {
        font-size: 1.7rem;
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 2rem;
    }

    &__date {
        margin-bottom: 1rem;
        color: gray;

    }

    &__details {
        font-size: 1.4rem;
        color: gray;
    }
}