*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #333;
    line-height: 1.7;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif; */
